# Dependencies
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Storage
storage/

# IDE files
.idea/
.vscode/
*.swp
*.swo 

# v1 database
server/config/database-old.sql

